@model Employee_Managment.Models.Statistics

@{
    ViewData["Title"] = "Редагувати статистику";
}

<h2>Редагувати статистику</h2>

<form asp-action="Edit" autocomplete="off">
    <div class="form-group">
        <label asp-for="Salary" class="control-label"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QA" class="control-label"></label>
        <input asp-for="QA" class="form-control" />
        <span asp-validation-for="QA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bonus" class="control-label"></label>
        <input asp-for="Bonus" class="form-control" />
        <span asp-validation-for="Bonus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HoursWorked" class="control-label"></label>
        <input asp-for="HoursWorked" class="form-control" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AverageTaskCompletionTime" class="control-label"></label>
        <input asp-for="AverageTaskCompletionTime" class="form-control" />
        <span asp-validation-for="AverageTaskCompletionTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OnTimeTaskCompletionPercentage" class="control-label"></label>
        <input asp-for="OnTimeTaskCompletionPercentage" class="form-control" />
        <span asp-validation-for="OnTimeTaskCompletionPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompletedTasks" class="control-label"></label>
        <input asp-for="CompletedTasks" class="form-control" />
        <span asp-validation-for="CompletedTasks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Employees" class="btn btn-secondary">Назад</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
