@model IEnumerable<Employee_Managment.Models.Vacation>

<h1>Vacations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Vacation Days</th>
            <th>Vacation Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacation in Model)
        {
            <tr>
                <td>@vacation.VacationDays</td>
                <td>@vacation.VacationType</td>
                <td>
                    <a asp-action="Edit" asp-controller="vacation" asp-route-id="@vacation.Id">Edit</a> |
                    <a asp-action="Delete" asp-controller="vacation" asp-route-id="@vacation.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="add" asp-controller="vacation">Add New Vacation</a>
